#titulo {
    background-color: rgb(62, 62, 163);
    color: white;
    width: 100%;
}

#titulo h1 {
    font-size: 5rem;
    text-align: center;
    padding: 40px 0px 10px 0px;
}

#titulo h3 {
    text-align: center;
    padding: 0px 0px 70px 0px;
}

.container #p1 {
    text-align: center;
    font-size: 1.4rem;
    padding: 20px 0 0 0;
}

.container #p2 {
    text-align: center;
    font-size: 1.4rem;
    padding: 10px 0 20px 0;
}

#div2 {
    background-color: white;
    border-radius: 5px;
    padding: 0;
}

body {
    background-color: rgb(233, 233, 233);
}

.card {
    width: 16rem;
    /* width: 25%; Ancho de cada tarjeta (4 tarjetas por fila) */
    margin-bottom: 20px;
    /* Espacio entre las tarjetas */
}

.card:hover{
    box-shadow: 4px 3px  rgba(175, 175, 175, 0.5); 
}


#cards_inicio {
    display: flex;
    flex-wrap: wrap;
    /* Permite que las tarjetas pasen a la siguiente fila si no hay suficiente espacio */
    justify-content: space-between;
    /* Ajusta el espacio entre las tarjetas */

}

.envio span {
    font-size: 5rem;
}
.envio{
    text-align: center;
    padding: 120px 0 30px 0;
    display: flex;
    justify-content: center; /* Otra opción: space-around o center */
}

.envio-item {
    text-align: center; /* Alinea el texto al centro si es necesario */
margin: 0 100px;
  }

.negrita{
    font-weight: 700;
}

.card-text{
    line-height: 0.5;
}

.card-title{
    /* line-height:  3; */
    padding: 0 0 10px 0;
}
.precio{
    padding: 5px 0;
}

#ver_mas{
    text-align: right;
}

#h3{
    padding: 50px 0 15px 0;
}