#prod {
    width: 500px;
}

.imagen {
    max-width: 200px;
    padding: 5px;
    transition: transform 0.3s;

}

.imagen:hover {
    transform: scale(1.1); /* Puedes ajustar el valor para la escala deseada */
  }

#imagen_div{
    align-Items: center;
    display: flex;
}

#titulo_prod {
    background-color: rgb(62, 62, 163);
    color: white;
    width: 100%;
    font-size: 5rem;
    text-align: center;
    padding: 40px 0px;
}

#tit_prod {
    padding: 10px 0;
    font-size: 1.6rem;
}

#precio {
    display: flex;
    justify-Content: center;
    align-Items: center;
    height: '100vh';
    flex-Direction: column;
}

#info {
    border-right: 2px solid #ccc;
    padding-right: 15px;
    /* height: 200px; */
}

#btn-flecha{
    position: fixed;
    right: 20px; 
    bottom: 20px;
}

.btn-custom{
    background-color:  rgb(62, 62, 163); /* Color personalizado en formato hexadecimal */
  color: #ffffff; /* Color del texto en formato hexadecimal */
  /* Puedes ajustar otros estilos según tus preferencias */
}

.btn-custom:hover{
    background-color: rgb(71, 71, 197);
    color: #ffffff;
}

